<body>
<header>
  <h1>Task Details</h1>
</header>
<main>
  <table>
    <tr>
      <th>Id</th>
      <td><%= @task.id %></td>
    </tr>
    <tr>
        <th> Task Name</th>
        <td><%= @task.name %></td>
    </tr>
    <tr>
      <th> Task Description</th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
        <th> Completed Date</th>
        <% if @task.completed_date == nil %>
          <td> <%= "Incomplete task" %> </td>
        <% else %>
          <% date = @task.completed_date %>
          <% date = date.strftime("%m/%d/%Y") %>
          <td> <%= date %> </td>
        <% end %>
    </tr>
  </table>
<footer>
  <%= link_to "Home", "/" %>
</footer>
</main>
</body>
