<%= render "shared/header" %>

<%= render "taskform" %>

<main>
  <%= render "taskdetail" %>
  <section class="button_placement">
    <%= button_to "Edit Task", "tasks/edit/#{@task.id}", method: "get", class: "main_button"  %>
  </section>
</main>

<%= render "shared/footer" %>
